<mat-drawer-container autosize>
  <mat-drawer #drawer class="mat-sidenav" mode="side">
    <mat-toolbar (click)="drawer.toggle()" color="primary">
      <span *ngIf="drawer.opened" class="span-text">Users</span>
    </mat-toolbar>
    <mat-selection-list dense #user [multiple]="false">
      <mat-list-option class="list-options" *ngFor="let user of data" [value]="user">
        {{user.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <div class="mat-sidenav-content">
    <mat-toolbar color="primary">
      <button *ngIf="!drawer.opened" mat-icon-button class="mat-icon-button"
        aria-label="Example icon-button with menu icon">
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      </button>
      <span><img class="img-item" src="../assets/signify.png"></span>
    </mat-toolbar>
    <!-- <img *ngIf="user.selectedOptions.selected[0]" class="profile-pic"
      [src]="(user.selectedOptions.selected[0])?.value.profilepic">
    <h4>{{user.selectedOptions.selected[0]?.value.name}}</h4>
    <h4>{{user.selectedOptions.selected[0]?.value.email}}</h4>
    <h4>{{user.selectedOptions.selected[0]?.value.age}}</h4> -->

    <div *ngIf="user.selectedOptions.selected[0] && drawer.opened" class="card-container">
      <mat-card class="mat-card">
        <mat-card-header>
          <div mat-card-avatar class="mat-header-image"></div>
          <mat-card-title>{{user.selectedOptions.selected[0]?.value.name}}</mat-card-title>
          <mat-card-subtitle>{{user.selectedOptions.selected[0]?.value.location}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="(user.selectedOptions.selected[0])?.value.countryflag" alt="Country flag">
        <mat-card-content>
          <p>
            {{user.selectedOptions.selected[0]?.value.description}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-drawer-container>